.page{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header{
    position: relative;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    height: 100vh;
    margin-bottom:100px;
    
}
.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__main-illustration{
    position: absolute;
    bottom:0;
    right: 0;
    width:765px;
    height:608px;
    z-index: 5;
}

.header__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 730px;
    margin-left: 64px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 102px;
    z-index: 10;
}
.header__subtitle{
    position: absolute;
    width: 388px;
    left: 64px;
    bottom: 30px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
}
.header__link{
    text-decoration: none;
    color: #2f80ed;
    z-index: 10;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    top:64px;
    right:0;
    position: absolute;
    z-index: 0;
}

.description{
    margin-top:100px;
    margin-bottom:100px;
    background-color: white;
}

.two-columns__span-accent {
    font-weight: bold;
    font-size:24px;
    line-height: 34px;
}
.two-columns {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0;
    width:80%;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.two-columns__brief {
    flex-basis: 175px;
    color: #2F80ED;
    line-height:1.2;
    font-size:18px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

.two-columns__main-text {
    flex-basis: 80%;
    min-width: 784px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.two-columns__paragraph{
    font-size:24px;
    line-height:34px;
    margin-top: 0px;
}
p:last-child{
    margin-bottom: 0;
}

.digits{
    position: relative;
    background-color: white;
    margin-bottom: 100px;
}

.section-title {
    margin-top: 0px;
    margin-bottom:20px;
    width:60%;
    line-height: 69px;
    font-size:60px;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    z-index: 20;
}

.section-subtitle {
    width:60%;
    line-height: 34px;
    font-size:24px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    margin-bottom: 0;
}

 .table {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    position:relative;
    margin-left: auto;
    margin-right:auto;
    width:1100px;
    justify-content: space-between;
}

.digits__table {
    margin-top:0;
}

.table__heading {
    line-height: 1.15;
    font-size:24px;
    font-weight: bold;
    margin-top:0;
    margin-bottom: 0px;
}

.table__text {
    line-height:1.2;
    font-size:18px;
    margin-bottom: 0px;
}

.table__cell {
    width:250px;
    min-height:5px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.feynman{
    padding-top: 100px;
    height:790px;
    position: relative;
    background-color: #f2f2f2;
    z-index: 0;
}
.feynman__img{
    position: absolute;
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 867px;
    height: 637px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
.feynman__title {
    line-height:1.15;
    font-size:120px;
    font-weight: bold;
    width:648px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    z-index: 1;
}

.feynman__subtitle {
    line-height:51px;
    font-size:36px;
    margin-top: 70px;
    text-align: center;
    z-index: 1;
    margin-bottom: 0;
}

.feynman__link {
    position: absolute;
    top:50%;
    line-height:51px;
    font-size:36px;
    right:48px;
    color:#2f80ed;
    text-decoration: none;
}

.kaufman {
    padding-top:90px;
    padding-bottom:90px;
    color: white;
    background-color: #1f1f1f;
    overflow:hidden;
    position: relative;
    z-index: 1;
}

.kaufman__triangle{
    width:877px;
    height:877px;
    position: absolute;
    background-repeat: no-repeat;
    right:-210px;
    top:0;
    background-image: url(../images/kaufman-triangle.svg);
    background-size: cover;
    z-index: -1;
}


.table_theme_dark {
    color: white;
    z-index:10;
}

.theme_dark {
    color: white;
}
.table__cell_theme_dark {
    width: 200px;
    line-height:1.2;
    font-size:18px;
    margin-top: 80px;
}

.footer{
    display: flex;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color:white;
    min-height:350px;
}

.footer__columns{
    width: 90%;
    display:flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.footer__column_content-copyright{
    flex-basis:  711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer{
    width: 183px;
    height: 35px;
}

.footer__author{
    padding: 18px 0 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__social-icons{
    width:16px;
    background-size: contain;
    position: relative;
    color:#fff;
    text-decoration:none;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
    margin-bottom:16px;
    margin-bottom: 0;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;
    margin-bottom:16px;
}

.footer__column-heading {
    padding:0;
    margin: 0 0  20px 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bolder;
}

.footer__column-links{
    padding: 0;
    margin: 0 0 16px 0;
    list-style: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-link{
    display: flex;
    margin-left: 0;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}
